@model DotNetCoders.Models.PurchaseReportView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MyStyles
{
    <style>
        h2 {
            text-align: center;
            margin-bottom: 2%;
            margin-top: 1%;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            text-decoration-color: turquoise;
            background: rgb(205, 234, 212);
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th {
            background: darkslateblue;
            text-align: center;
            padding: 10px;
            color: azure;
        }

        td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
}
@{ DateTime sDate = DateTime.Today; DateTime eDate = DateTime.Today;}
    <h2>Purchase &nbsp;&nbsp; Report</h2>
@using (Html.BeginForm("Index", "PurchaseReport", FormMethod.Post))
{
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        @Html.TextBox("startDate", (sDate), "{0:yyyy-MM-dd}", htmlAttributes: new
   {
       @class = "form-control",
       @type = "date",
       @id = "startDate"
   })
    </div>
    <div class="col-md-3">
        @Html.TextBox("endDate", (eDate), "{0:yyyy-MM-dd}", htmlAttributes: new
   {
       @class = "form-control",
       @type = "date",
       @id = "endDate"
   })
    </div>

    <div class="col-md-3">
        <input type="submit" value="submit" class="btn btn-info pull-left" style="background: #254558" />
    </div>
    </div>
}

<div class="row">
    <table>
        <tr>
            <th>Sl</th>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Available Quantity</th>
            <th>Cost Price (TK) </th>
            <th>MRP (Tk)</th>
            <th>Profit (Tk)</th>

        </tr>
        @{ int sl = 0;}
        @foreach (var purchase in ViewBag.Report)
        {
            <tr>
                <td>@(++sl)</td>
                <td>@purchase.Code</td>
                <td>@purchase.Product</td>
                <td>@purchase.Category</td>
                <td>@purchase.AvailableQuantity</td>
                <td>@purchase.CostPrice</td>
                <td>@purchase.MRP</td>
                <td>@purchase.Profit</td>

            </tr>
        }
        <tr>
        @if (ViewBag.Message != null)
        {
            <td colspan="8" class="alert alert-warning" role="alert" style="width: 100%">


                @ViewBag.Message

                
            </td>
        }
        </tr>
    </table>
   

@using (Html.BeginForm("GetPurchaseReport", "PurchaseReport", FormMethod.Get))
    {
        @Html.TextBoxFor(c => c.startDate, htmlAttributes: new
        {
            @id = "reportStart", @type= "hidden"

        })
        @Html.TextBoxFor(c => c.endDate, htmlAttributes: new
       {
       @id = "reportEnd",
       @type = "hidden"

       })
        <input type="submit" value="Download Purchase Report as PDF" class="btn btn-primary" style="background: #254558" target="_blank" />
    }
    @*@Html.ActionLink("Download Sales Report as PDF", "GetSalesReport", "SalesReport", new { startDate = Model.startDate, endDate = Model.endDate }, new { @class = "btn btn-primary", @target = "_blank" })*@


</div>

@section MyScripts
{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#startDate").change(function () {
                //alert($("#startDate").val());
                var start = $("#startDate").val();
                $("#reportStart").val(start);
                alert($("#reportStart").val());
            });
            $("#endDate").change(function () {
                //alert($("#startDate").val());
                var start = $("#endDate").val();
                $("#reportEnd").val(start);
                alert($("#reportEnd").val());
            });
        });
    </script>

}				  